.main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.section-container {
  display: flex;
  margin: 0 40px;
  align-items: center;
}

.interval-length-container {
  display: flex;
  margin: 0 20px;
}

.settings-container {
  border-style: solid;
  border-radius: 8px;
  border-color: #263646;
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
}

.settings-container-disabled {
  pointer-events: none;
  border-style: solid;
  border-radius: 8px;
  border-color: #263646;
  color: lightslategray;
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
}

.settings-sub-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

input[type="number"] {
  width: 70px;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 10px;
}

h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.interval-length {
  font-size: 2rem;
  margin: 0 10px;
}

button {
  padding: 5px 12px;
  margin: 0 10px;
  height: 25px;
  background-color: #263646;
  border: none;
  outline: none;
  cursor: pointer;
  color: #eee;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto;
}

.timer-container {
  width: 50%;
  height: px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 8px;
  border-color: #263646;
  background-color: #263646;
}

.timer-container > * {
  /* margin: 8px; */
  color: #ffffff;
}

.timer-clock-container {
  font-size: 2rem;
  font-weight: 400;
}

.timer-container > h4 {
  font-size: 18px;
}

.session-log-container {
  padding: 20px;
  text-align: center;
}

.session-log-container > h2 {
  font-size: 12px;
  font-style: italic;
  color: lightslategray;
}

.session-list-container {
  width: 250px;
  border-style: solid;
  border-radius: 8px;
  border-color: #263646;
}

.session-list-container > li {
  list-style: none;
}
